[submodule "Contabilita"]
	path = Contabilita
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/CFA.git
[submodule "Prisma"]
	path = Prisma
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Prisma.git
[submodule "Sfera"]
	path = Sfera
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Sfera.git
[submodule "Gestione-Personale"]
	path = Gestione-Personale
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Gestione-Personale.git
[submodule "Amministrazione-Database"]
	path = Amministrazione-Database
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Amministrazione-Database.git
[submodule "Anagrafe-Soggetti"]
	path = Anagrafe-Soggetti
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Anagrafe-Soggetti.git
[submodule "Struttura-Organizzativa"]
	path = Struttura-Organizzativa
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Struttura-Organizzativa.git
[submodule "Documentale"]
	path = Documentale
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Documentale.git
[submodule "Demografici"]
	path = Demografici
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Demografici.git
[submodule "Entrate"]
	path = Entrate
	url = https://github.com/Libero-Consorzio-Comunale-di-Agrigento/Entrate.git
